<li class="blueVioletBackground" id="return" onclick="location.href='/'">返回主页</li>
<li class="active" id="preferences">关注点巡检记录</li>
<li id="routes">路线</li>
<li id="sessions">巡检任务</li>
<li id="records">巡检记录</li>
<li id="history">巡检点历史</li>
<li id="problems">问题清单</li>