<h1>Listing Users</h1>

<table border="1">
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |u| %>
      <tr>
        <td><%= u.email %></td>
        <td><%= u.name %></td>
        <td><%= u.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>



