<% if current_user.is_admin?
     provide(:title, '管理员')
   else
     provide(:title, '用户')
   end %>
<div class="container-fluid">
  <div class="row">
    <div class="sidebar" id="sidebar">
      <div class="close_box"></div>
      <ul class="nav nav-sidebar">
        <%= render 'users/left_sidebar_menu' %>
      </ul>
    </div>
    <%= render 'users/right_container_divs' %>
  </div>
</div>