<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Media heading</h4>
    Sample
  </div>
</div>

<h1>Work Order</h1>

<table border="1">
  <thead>
  <tr>
    <td>id</td>
    <td>staus</td>
    <td>description</td>




  </tr>
  </thead>

  <tbody>

  <% @reports.each do |r| %>
      <tr>
        <td><%= r.id %></td>
        <td><%= r.status %></td>
        <td><%= r.description %></td>


      </tr>
  <% end %>
  </tbody>
</table>

<br>

