<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Hi, </h1>

<p>
  巡检点 <%= @result.name %> 巡检结果在 <%= @result.time %> 显示异常。
</p>
</body>
</html>