<p id="notice"><%= notice %></p>

<p>
  <strong>description:</strong>
  <%= @check_route.description %>
</p>

<%= link_to 'Edit', edit_check_route_path(@check_route) %> |
<%= link_to 'Back', check_routes_path %>
