<div class="containerDiv" id="assetsDiv">
  <div id="assets" style="display: inline">
    <span class="hiddenSpan" id="assetsIfNoneMatch"></span>
    <span class="hiddenSpan" id="assetsIfModifiedSince"></span>
    <div id="assetList">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">设备</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group" id="assetListGroup">
          </ul>
        </div>
      </div>
    </div>
    <div id="assetDetails">
      <div class="btn-toolbar" id="assetsTreeControlButtons">
        <div class="btn-group">
          <button type="button" class="btn btn-default" id="openTree">全部展开</button>
          <button type="button" class="btn btn-default" id="collapseTree">全部合拢</button>
        </div>
      </div>
      <div id="assetsTree">
      </div>
    </div>
  </div>
</div>
<div class="containerDiv" id="historyDiv">
</div>
<div class="containerDiv" id="problemsDiv">
  <div id="editProblemsDiv" style="display: none" class="submissionForm">
    <h2 class="form-signin-heading">
      <span>问题详情</span>
      <span class="hiddenSpan" id="problemId"></span>
    </h2>
    <div class="tableRowForm">
      <span>日期</span>
      <span id="problem_created_at"></span>
    </div>
    <div class="tableRowForm">
      <span>提交人</span>
      <span id="problem_created_by_user"></span>
    </div>
    <div class="tableRowForm">
      <span>机台信息</span>
      <span id="problem_area"></span>
    </div>
    <div class="tableRowForm">
      <span>部位名称</span>
      <span id="problem_name"></span>
    </div>
    <div class="tableRowForm">
      <span>内容</span>
      <span id="problem_part_description"></span>
    </div>
    <div class="tableRowForm">
      <span>问题描述</span>
      <span id="problem_description"></span>
    </div>
    <div class="tableRowForm" id="problem_image">
      <span>图片</span>
      <span id="problem_image_link"></span>
    </div>
    <div class="tableRowForm" id="problem_audio">
      <span>音频</span>
      <span id="problem_audio_link"></span>
    </div>
    <div class="tableRowForm">
      <span>状态</span>
      <div>
        <select class="form-control" id="problem_status">
          <% [1, 2, 3, 4, 5].each do |status| %>
            <option value="<%= status %>">
              <%= get_problem_status_string(status) %>
            </option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="tableRowForm">
      <span>备注</span>
      <textarea id="problem_content"></textarea>
    </div>
    <div class="tableRowForm">
      <span>责任人</span>
      <input id="problem_assigned_to_user" class="form-control"/>
      <span class="hiddenSpan" id="problem_assigned_to_id"></span>
    </div>
    <div class="tableRowForm">
      <span>计划完成日期</span>
      <div class="input-append" id="problem_plan_date">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>

    <div style="margin-top: 10px">
      <button class="btn btn-warning" type="button" id="btnReturn"/>返回</button>
      <button class="btn btn-primary" type="button" id="btnSubmit"/>提交</button>
    </div>
  </div>
  <div id="problemListDiv">
    <span class="hiddenSpan" id="problemsIfNoneMatch"></span>
    <span class="hiddenSpan" id="problemsIfModifiedSince"></span>
    <span class="hiddenSpan" id="calendarUpdated">false</span>
    <div style="width: 30%" class="calendarWidgetDiv">
      <div>起始时间</div>
      <div id="startTime" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>
    <div style="width: 30%" class="calendarWidgetDiv">
      <div>结束时间</div>
      <div id="endTime" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>
    <div style="width: 20%" class="calendarWidgetDiv">
      <div>状态</div>
      <div class="input-append">
        <select class="form-control" id="status">
          <% [2, 1, 3, 4, 5, 0].each do |status| %>
            <option value="<%= status %>">
              <%= get_problem_status_string(status) %>
            </option>
          <% end %>
        </select>
      </div>
    </div>
    <div style="width: 15%" class="calendarWidgetDiv">
      <button type="button" class="btn btn-primary" style="margin-top: 16px" id="updateProblemsTableButton">
        更新数据
      </button>
    </div>
  </div>
  <div id="editProblemListDiv">
    <% if current_user.is_admin? %>
      <button id="btnEditProblem" class="btn btn-info" type="button">编辑问题</button>
    <% end %>
    <button id="btnExportProblem" class="btn btn-primary" type="button">导出数据</button>
  </div>
  <div id="assignedUserStatChartDiv"></div>
</div>
<div class="containerDiv" id="manageUsersDiv">
  <div id="createUserDiv" style="display: none" class="submissionForm">
    <h2 class="form-signin-heading">创建用户</h2>
    <input type="text" value="" required="required" placeholder="用户名" name="user[name]" id="user_name" class="form-control"/>
    <input type="email" value="" required="required" placeholder="电子邮箱" name="user[email]" id="user_email" class="form-control"/>
    <div id="userRoleSelection" class="floatLeft">
      <div>
        <span>用户级别</span>
      </div>
      <div>
        <select class="form-control" id="userRole">
          <option value="6">维修工（报修）</option>
          <option value="5">普通用户（报修）</option>
          <option value="4">高级用户（报修）</option>
          <option value="3">管理员（报修）</option>
          <option value="8">高级用户（巡检，报修）</option>
          <option value="7">管理员（巡检，报修）</option>
        </select>
      </div>
    </div>
    <input type="password" required="required" placeholder="密码" name="user[password]" id="user_password" class="form-control">
    <span style="display: block; margin-bottom: 8px">
      <input type="checkbox" name="option" value='1' onchange="changePasswordType('div#createUserDiv input#user_password')" style="margin-top: -2px" />
      显示密码
    </span>

    <button class="btn btn-warning" type="button" id="btnCancelCreateUser"/>取消</button>
    <button class="btn btn-primary" type="button" id="btnCreateUser"/>提交</button>
  </div>
  <div id="editUserRoutesDiv" style="display: none" class="submissionForm">
    <h2 class="form-signin-heading">
      <span id="userName"></span>
      <span class="hiddenSpan" id="userId"></span>
    </h2>
    <div>
      <div class="dragBox">
        <h2>已分配路线</h2>
        <div class="draggableBox"
             data-bind="template: { name: 'routesTmplRight', foreach: leftRoutes, templateOptions: { parentList: leftRoutes} }, sortableList: leftRoutes">
        </div>
      </div>

      <div class="dragBox">
        <h2>可分配路线</h2>
        <div class="draggableBox"
             data-bind="template: { name: 'routesTmplLeft', foreach: rightRoutes, templateOptions: { parentList: rightRoutes} }, sortableList: rightRoutes">
        </div>
      </div>
    </div>

    <div style="margin-top: 10px">
      <button class="btn btn-warning" type="button" id="btnReturn"/>返回</button>
      <button class="btn btn-primary" type="button" id="btnSubmit"/>提交</button>
    </div>
  </div>
  <div id="usersTableDiv">
    <span class="hiddenSpan" id="usersIfNoneMatch"></span>
    <span class="hiddenSpan" id="usersIfModifiedSince"></span>
  </div>
  <div id="add_delete_user_buttons">
    <button id="btnAddNewUser" class="btn btn-info" type="button">添加用户</button>
    <button id="btnDeleteUser" class="btn btn-danger" type="button">删除用户</button>
  </div>
</div>
<div class="containerDiv" id="manageDataDiv">
  <div id="managementButtons">
    <div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle mediumWidth" type="button" data-toggle="dropdown">
          <span class="caret"></span>
          设备管理
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation"><a role="menuitem" data-div="createAsset">创建</a></li>
          <li role="presentation"><a role="menuitem" data-div="deleteAsset">删除</a></li>
        </ul>
      </div>
    </div>
    <div>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle mediumWidth" type="button" id="routesDropdownMenu" data-toggle="dropdown">
          <span class="caret"></span>
          部件管理
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
          <li role="presentation"><a role="menuitem" data-div="createPart">创建</a></li>
          <li role="presentation"><a role="menuitem" data-div="attachPartToAsset">连接到设备</a></li>
          <li role="presentation"><a role="menuitem" data-div="editDeletePart">编辑/删除</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="managementData">
    <span class="hiddenSpan" id="switchPartTo"></span>
    <div id="createAsset" style="display: none" class="submissionForm">
      <h2 class="form-signin-heading">创建设备</h2>
      <input type="text" value="" required="required" placeholder="名称（必填）" id="assetName" class="form-control"/>
      <input type="text" value="" placeholder="描述" id="assetDescription" class="form-control"/>
      <input type="text" value="" placeholder="条形码" id="assetBarcode" class="form-control"/>

      <div id="addedPartDiv">
      </div>
      <div style="margin-top: 5px; display: block">
        <button class="btn btn-warning" type="button" id="btnCancelCreateAsset"/>重置</button>
        <button class="btn btn-info" type="button" id="btnAddPartToAsset"/>添加部件</button>
        <button class="btn btn-primary" type="button" id="btnCreateAsset"/>提交</button>
      </div>
    </div>
    <div id="deleteAsset" style="display: none">
      <div id="assetsTableDiv">
        <span class="hiddenSpan" id="assetsIfNoneMatch"></span>
        <span class="hiddenSpan" id="assetsIfModifiedSince"></span>
      </div>
      <div id="add_delete_asset_buttons">
        <button id="btnDeleteAsset" class="btn btn-danger" type="button">删除设备</button>
      </div>
    </div>
    <div id="createPart" style="display: none" class="submissionForm">
      <h2 class="form-signin-heading">创建部件</h2>
      <span class="hiddenSpan" id="partId"></span>
      <div class="floatLeft">
        <div>
          <span>名称</span>
        </div>
        <div>
          <input type="text" value="" required="required" placeholder="名称（必填）" id="partName" class="form-control"/>
        </div>
      </div>
      <div class="floatLeft">
        <div>
          <span style="font-size: 15px">描述</span>
        </div>
        <div style="width: 70%">
          <input type="text" value="" placeholder="描述" id="partDescription" class="form-control"/>
        </div>
      </div>
      <div class="floatLeft">
        <div>
          <span>条形码</span>
        </div>
        <div>
          <input type="text" value="" placeholder="条形码" id="partBarcode" class="form-control"/>
        </div>
      </div>
      <div id="assignedToSelection" class="floatLeft">
        <div>
          <span>责任人</span>
        </div>
        <div>
          <input id="part_assigned_to" class="form-control"/>
          <span class="hiddenSpan" id="part_assigned_to_id"></span>
        </div>
      </div>

      <div style="margin-top: 5px; display: block">
        <button class="btn btn-warning" type="button" id="btnCancelCreatePart"/>重置</button>
        <button class="btn btn-primary" type="button" id="btnCreatePart"/>提交</button>
      </div>
    </div>
    <div id="attachPartToAsset" style="display: none">
      <div id="assetsTableDiv">
        <span class="hiddenSpan" id="assetsIfNoneMatch"></span>
        <span class="hiddenSpan" id="assetsIfModifiedSince"></span>
      </div>
      <div id="attach_part_to_asset_button">
        <button id="btnAttachPartToAsset" class="btn btn-success" type="button">
          <i class="icon-upload icon-white"></i>
          连接部件到设备
        </button>
      </div>
      <div id="partsTableDiv">
        <span class="hiddenSpan" id="partsIfNoneMatch"></span>
        <span class="hiddenSpan" id="partsIfModifiedSince"></span>
      </div>
    </div>
    <div id="editDeletePart" style="display: none">
      <div id="partsTableDiv">
        <span class="hiddenSpan" id="partsIfNoneMatch"></span>
        <span class="hiddenSpan" id="partsIfModifiedSince"></span>
      </div>
      <div id="edit_delete_part_buttons">
        <button id="btnEditPart" class="btn btn-info" type="button">编辑部件</button>
        <button id="btnDeletePart" class="btn btn-danger" type="button">删除部件</button>
      </div>
    </div>
  </div>
</div>
<div class="containerDiv" id="manageContactsDiv">
  <div class="floatLeft" id="addEditContactDiv" style="display: off">
    <div style="width: 20%; padding: 10px; margin-top: 0px;">
      <input type="text" value="" required="required" placeholder="姓名" id="contactNameInput" class="form-control"/>
    </div>
    <div style="width: 20%; padding: 10px">
      <input type="text" value="" required="required" placeholder="邮箱" id="contactEmailInput" class="form-control"/>
    </div>
    <div style="width: 100px; padding: 10px">
      <button id="btnAddNewContact" class="btn btn-info" type="button" data-type="POST">添加联系人</button>
      <button id="btnEditContact" class="btn btn-primary" type="button" data-type="PUT">保存更改</button>
      <span class="hiddenSpan" id="contactId"></span>
    </div>
  </div>
  <div id="contactsTableDiv">
    <span class="hiddenSpan" id="contactsIfNoneMatch"></span>
    <span class="hiddenSpan" id="contactsIfModifiedSince"></span>
  </div>
  <div>
    <button id="btnDeleteContact" class="btn btn-danger" type="button">删除联系人</button>
    <button id="btnShowAddNewContact" class="btn btn-info" type="button">添加联系人</button>
    <button id="btnShowEditContact" class="btn btn-primary" type="button">编辑联系人</button>
  </div>
</div>