<div class="containerDiv" id="assetsDiv">
</div>
<div class="containerDiv" id="historyDiv">
</div>
<div class="containerDiv" id="problemsDiv">
</div>
<div class="containerDiv" id="manageUsersDiv">
</div>
<div class="containerDiv" id="manageDataDiv">
</div>
<div class="containerDiv" id="manageContactsDiv">
</div>