<div class="containerDiv" id="assetsDiv">
  <div id="assets" style="display: inline">
    <span class="hiddenSpan" id="assetsIfNoneMatch"></span>
    <span class="hiddenSpan" id="assetsIfModifiedSince"></span>
    <div id="assetList">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">设备</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group" id="assetListGroup">
          </ul>
        </div>
      </div>
    </div>
    <div id="assetDetails">
      <div class="btn-toolbar" id="assetsTreeControlButtons">
        <div class="btn-group">
          <button type="button" class="btn btn-default" id="openTree">全部展开</button>
          <button type="button" class="btn btn-default" id="collapseTree">全部合拢</button>
        </div>
      </div>
      <div id="assetsTree">
      </div>
    </div>
  </div>
</div>
<div class="containerDiv" id="historyDiv">
</div>
<div class="containerDiv" id="problemsDiv">
  <div id="editProblemsDiv" style="display: none" class="submissionForm">
    <h2 class="form-signin-heading">
      <span>问题详情</span>
      <span class="hiddenSpan" id="problemId"></span>
    </h2>
    <div class="tableRowForm">
      <span>日期</span>
      <span id="problem_created_at"></span>
    </div>
    <div class="tableRowForm">
      <span>提交人</span>
      <span id="problem_created_by_user"></span>
    </div>
    <div class="tableRowForm">
      <span>机台信息</span>
      <span id="problem_area"></span>
    </div>
    <div class="tableRowForm">
      <span>部位名称</span>
      <span id="problem_name"></span>
    </div>
    <div class="tableRowForm">
      <span>内容</span>
      <span id="problem_point_description"></span>
    </div>
    <div class="tableRowForm">
      <span>问题描述</span>
      <span id="problem_description"></span>
    </div>
    <div class="tableRowForm" id="problem_image">
      <span>图片</span>
      <span id="problem_image_link"></span>
    </div>
    <div class="tableRowForm" id="problem_audio">
      <span>音频</span>
      <span id="problem_audio_link"></span>
    </div>
    <div class="tableRowForm">
      <span>状态</span>
      <div>
        <select class="form-control" id="problem_status">
          <% [1, 2, 3, 4, 5].each do |status| %>
            <option value="<%= status %>">
              <%= get_problem_status_string(status) %>
            </option>
          <% end %>
        </select>
      </div>
    </div>
    <div class="tableRowForm">
      <span>备注</span>
      <textarea id="problem_content"></textarea>
    </div>
    <div class="tableRowForm">
      <span>责任人</span>
      <input id="problem_assigned_to_user" class="form-control"/>
      <span class="hiddenSpan" id="problem_assigned_to_id"></span>
    </div>
    <div class="tableRowForm">
      <span>计划完成日期</span>
      <div class="input-append" id="problem_plan_date">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>

    <div style="margin-top: 10px">
      <button class="btn btn-warning" type="button" id="btnReturn"/>返回</button>
      <button class="btn btn-primary" type="button" id="btnSubmit"/>提交</button>
    </div>
  </div>
  <div id="problemListDiv">
    <span class="hiddenSpan" id="problemsIfNoneMatch"></span>
    <span class="hiddenSpan" id="problemsIfModifiedSince"></span>
    <span class="hiddenSpan" id="calendarUpdated">false</span>
    <div style="width: 30%" class="calendarWidgetDiv">
      <div>起始时间</div>
      <div id="startTime" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>
    <div style="width: 30%" class="calendarWidgetDiv">
      <div>结束时间</div>
      <div id="endTime" class="input-append">
        <input data-format="yyyy-MM-dd" type="text"/>
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar">
              </i>
            </span>
      </div>
    </div>
    <div style="width: 20%" class="calendarWidgetDiv">
      <div>状态</div>
      <div class="input-append">
        <select class="form-control" id="status">
          <% [2, 1, 3, 4, 5, 0].each do |status| %>
            <option value="<%= status %>">
              <%= get_problem_status_string(status) %>
            </option>
          <% end %>
        </select>
      </div>
    </div>
    <div style="width: 15%" class="calendarWidgetDiv">
      <button type="button" class="btn btn-primary" style="margin-top: 16px" id="updateProblemsTableButton">
        更新数据
      </button>
    </div>
  </div>
  <div id="editProblemListDiv">
    <% if current_user.is_admin? %>
      <button id="btnEditProblem" class="btn btn-info" type="button">编辑问题</button>
    <% end %>
    <button id="btnExportProblem" class="btn btn-primary" type="button">导出数据</button>
  </div>
  <div id="assignedUserStatChartDiv"></div>
</div>
<div class="containerDiv" id="manageUsersDiv">
</div>
<div class="containerDiv" id="manageDataDiv">
</div>
<div class="containerDiv" id="manageContactsDiv">
</div>