<h1>Listing user_preferences</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_preferences.each do |user_preference| %>
      <tr>
        <td><%= link_to 'Show', user_preference %></td>
        <td><%= link_to 'Edit', edit_user_preference_path(user_preference) %></td>
        <td><%= link_to 'Destroy', user_preference, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User preference', new_user_preference_path %>
