@import "bootstrap";
@import "variable.css.scss";

div.containerDiv {
  display: none;
}

img.mediaListIcon {
  width: 23px;
  height: 23px;
}

@mixin div_box {
  cursor: pointer;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 17px;
  position: absolute;
  right: 10px;
  top: 7px;
  width: 17px;
}

div.close_box {
  @include div_box;
  background-image: url("/assets/notice_buttons.png");
}

div.open_box {
  @include div_box;
  background-image: url("/assets/open_new_window.png");
}

.sidebar {
  display: none;
  background-color: $LightSteelBlue;
  border-right: 1px solid #EEEEEE;
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  top: 51px;
  z-index: 1000;

  ul {
    margin-top: 10px;
  }
}

.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px;
  li {
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      cursor: pointer
    }
    &.active {
      background-color: $blueLight;
      color: $white;
    }
  }
}

div.calendarWidgetDiv {
  text-align: center;
  float: left;
  margin-bottom: 10px;
  div.input-append {
    input {
      width: 200px !important;
    }
  }
}

li.lawnGreenBackground {
  background-color: $LawnGreen;
}

li.blueVioletBackground {
  display: inline-block;
  padding: 5px;
  margin: 5px 5px 5px 15px;
  color: $Snow;
  background-color: $BlueViolet;
  border-color: $Azure;
}

/* routesDiv */
@mixin mediaList {
  h4.media-heading {
    font-size: 16px !important;
    line-height: 16px !important;
  }
  img.media-object.mediaListIcon {
    cursor: pointer;
  }
  span.badge {
    margin-left: 8px !important;
    padding-top: 1px !important;
    cursor: pointer;
    &:hover {
      background-color: $LightSkyBlue;
    }
  }
}

@mixin listGroup {
  margin-left: 3px;
  margin-right: 10px;

  li.list-group-item {
    &:hover {
      background-color: $LightSkyBlue;
    }
  }
}

div#factories {
  > div {
    float: left;
    overflow: auto;
  }

  > div#factoryDetails {
    width: 35%;
    div#factoriesTreeControlButtons {
      margin-bottom: 20px;
    }

    div#factoriesTree {
      @include mediaList;
    }
  }

  > div#routeListInFactory {
    width: 30%;
    margin-top: 55px;

    ul#routeListGroupInFactory {
      @include listGroup;
    }
  }

}

div#routes {
  > div {
    float: left;
    overflow: auto;
  }

  > div#routeList {
    width: 30%;
    margin-top: 10px;

    ul#routeListGroup {
      @include listGroup;
      li.list-group-item {
        cursor: pointer;
      }
    }
  }

  > div#routeDetails {
    padding-left: 40px;
    width: 65%;
    div#routesTreeControlButtons {
      margin-bottom: 20px;
    }
    div#routesTree {
      @include mediaList;
    }
  }
}

/* historyDiv */
div#historyDiv {
  > div {
    float: left;

    &.input-group {
      width: 280px;
      margin-top: 16px;
      margin-left: 22px;
      > div {
        float: left;
        input#barcodeInput {
          padding: 4px 0px 7px 4px !important;
        }
      }
    }

    &#noHistoryBanner, &#errorBanner, &#infoBanner {
      margin-top: 10px;
      width: 80%;
      text-align: center;
      margin-left: 5%;
    }

    &#chartDiv {
      height: 450px;
      width: 100%;
    }
  }
}

// BarChart
table.jqplot-table-legend {
  width: 60px !important;
}


/* Admin tabs */

/* manageUsersDiv */

div.submissionForm {
  text-align: center;
  width: 40%;
  min-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

div#userRoleSelection, div#categorySelection,
div#areaSelection, div#userRoutesDeletion,
div#userRoutesAddition {
  > div {
    float: left;
    text-align: left;
  }
}

div#manageUsersDiv {
  div#usersTableDiv {
    table#usersTable {
      > tbody {
        > tr {
          &:hover {
            cursor: pointer;
            background-color: $SpringGreen !important;
          }
        }
      }
    }
  }
}

/* manageDataDiv */

.mediumWidth {
  width: 100px;
}

div#manageDataDiv {
  > div {
    float: left;
  }

  div#managementButtons {
    width: 15%;
    min-width: 120px;

    > div {
      margin-bottom: 5px;

      form#uploadFile {
        margin-bottom: 0px;
      }
    }
  }

  div#managementData {
    width: 80%;

    div#attach_point_to_asset_button,
    div#attach_point_to_route_button {
      text-align: center;
      margin: 5px
    }
  }
}

div#createPoint{
  div#addPointChoiceDiv {
    > div {
      float: left;
      text-align: left;
    }

    div#addChoiceButtonDiv {
      width: 20%;
    }

    div#pointChoiceDiv {
      margin-left: 2%;
      width: 78%;
    }
  }
}

span.lavenderBackground {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  color: $BlueViolet;
  background-color: $Lavender;
  border-color: $Azure;
  tab-size: 15px;

  > i {
    cursor: pointer;
  }
}

div.dragBox {
  float: left;
  width: 42%;
  max-height: 300px;
  background-color: $grayMediumLight;
  margin: 10px;
  padding: 5px;
  overflow-y: scroll;
}

div.draggableBox {
  text-align: left;
  padding-left: 5px;
  min-height: 200px;
}

div.tableRowForm {
  padding: 15px;
  margin: 5px;
  font-size: 15px;
  > span:first-child {
    float: left;
    width: 25%;
    font-weight: bold;
    text-align: left;
  }

  > span:nth-child(2), input {
    float: left;
    width: 75%;
    text-align: left;
  }
}