@import "bootstrap";
@import "variable.css.scss";

div.containerDiv {
  display: none;
}

img.mediaListIcon {
  width: 32px;
  height: 32px;
}

@mixin div_box {
  cursor: pointer;
  background-position: 0 0;
  background-repeat: no-repeat;
  display: block;
  height: 17px;
  position: absolute;
  right: 10px;
  top: 7px;
  width: 17px;
}

div.close_box {
  @include div_box;
  background-image: url("/assets/notice_buttons.png");
}

div.open_box {
  @include div_box;
  background-image: url("/assets/open_new_window.png");
}

.sidebar {
  display: none;
  background-color: $LightSteelBlue;
  border-right: 1px solid #EEEEEE;
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  top: 51px;
  z-index: 1000;

  ul {
    margin-top: 10px;
  }
}

.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px;
  li {
    padding-left: 20px;
    padding-right: 20px;
    &:hover {
      cursor: pointer
    }
    &.active {
      background-color: $blueLight;
      color: $white;
    }
  }
}

div.calendarWidgetDiv {
  text-align: center;
  float: left;
  margin-bottom: 10px;
  div.input-append {
    input {
      width: 200px !important;
    }
  }
}

/* routesDiv */
div#routesDiv {
  > div {
    float: left;
    overflow: auto;
  }

  > div#routeList {
    width: 30%;
  }

  > div#routeDetails {
    padding-left: 20px;
    width: 65%;
    div#routesTreeControlButtons {
      margin-bottom: 20px;
    }
  }
}

/* historyDiv */
div#historyDiv {
  > div {
    float: left;

    &.input-group {
      width: 280px;
      margin-top: 16px;
      margin-left: 22px;
      > div {
        float: left;
        input#barcodeInput {
          padding: 4px 0px 7px 4px !important;
        }
      }
    }

    &#chartDiv {
      height: 450px;
      width: 100%;
    }
  }
}