/* Global Variables
----------------------------------------------------------*/
$grayMediumLight: #eaeaea;
$blue: #00BDF6;
$blueLight: #428BCA;
$lightGreen: #8CBE00;
$red: #FF6360;
$black: #4B4B54;
$white: #FFFFFF;
$yellowLight: #F9FF63;